<ngx-app-bar
  [filterIcon]="true"
  [searchIcon]="true"
  [state]="list.selected.length > 0 ? 'contextual' : 'regular'"
  (dismiss)="list.clear()"
  (searchExpand)="onSearchExpand()">
    <h1 appBarTitle>Villains</h1>
    <h1 contextualTitle>{{ list.selected.length }} selected</h1>
    <ng-container contextualActions>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(list.selected)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>
</ngx-app-bar>
<side-sheet [titleText]="'Filters'">
</side-sheet>
<ngx-list #list [displayWith]="displayWith" [items]="villains$ | async" [columns]="columns" [selectable]="true"></ngx-list>
<a mat-fab class="fab" [routerLink]="['new']">
  <mat-icon>add</mat-icon>
</a>
