<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Alter ego</mat-label>
    <input matInput type="text" formControlName="alter_ego" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>First appearance</mat-label>
    <input matInput type="text" formControlName="first_appearance" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput type="text" formControlName="creator" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
</form>
