<ngx-scaffold [disableDrawer]="!(user$ | async)" [disableSideSheet]="!(user$ | async)">
  <ngx-app-bar-host top
    *ngIf="user$ | async as user"
    (filter)="onFilter()"
    (showFilter)="onShowFilter($event)"
    (navigate)="onNavigate($event)">
  </ngx-app-bar-host>
  <ng-container drawer>
    <button (click)="onSignOut()">Sign out</button>
    <ul>
      <li>
        <a routerLink="heroes">Heroes</a>
      </li>
      <li>
        <a routerLink="villains">Villains</a>
      </li>
    </ul>
  </ng-container>
  <router-outlet></router-outlet>
</ngx-scaffold>
